body {
    margin: 0;
    padding: 0;
  }
  .NavbarItems {
    background-color: black;
    padding: 0;
    height: auto;
    width: 100%;
    font-family: cursive;
  }
  
  .NavbarItems h1 {
    color: white;
    padding: 10px;
    font-size: 25px;
  }
  .logo {
    width: 30%;
    float: left;
  }
  .Navbar-carrito {
    width: 20%;
    height: 100px;
    float: right;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
    line-height: 80px;
  }
  .Navbar-carrito:hover{
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 8px;
  }
  .navbar-ul {
    width: 80%;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0;
  }
  li {
    display: inline;
    list-style: none;
    font-size: 18px;
    padding: 10px;
    line-height: 80px;
  }
  .nav-links {
    color: white;
    text-decoration: none;
  }
  .nav-links-mobile {
    color: white;
    text-decoration: none;
  }
  li:hover {
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 8px;
  }
  li:hover .nav-links {
    color: black;
  }
  li:hover .nav-links-mobile {
    color: black;
  }